<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<select id="selectByEmail" resultType="com.spring.dto.MemberVO">
   <![CDATA[
          SELECT
              EMAIL,
              NAME
          FROM
              MemberData
          WHERE
              EMAIL = #{email}       
      ]]>
	</select>

	<select id="selectById" resultType="com.spring.dto.MemberVO">
        <![CDATA[
          SELECT
              ID,
              NAME
          FROM
              MemberData
          WHERE
              ID = #{id}       
      ]]>
	</select>


	<insert id="register">
        <![CDATA[
            INSERT INTO MemberData
            (
                ID,
                PW,
                NAME,
                AGE,
                GENDER,
                PHONE,
                EMAIL
            )
            VALUES
            (
                #{id},
                #{pw},
                #{name},
                #{age},
                #{gender},
                #{phone},
                #{email}
           
            )
        ]]>
	</insert>

	<select id="amountCheck" resultType="com.spring.dto.AmountVO">
	 <![CDATA[
	 select AREA,
	 		AMOUNT,
	 		CARNUMBER
	 from PayInformation where ENDTIME IS NULL
      ]]>
	</select>

	<select id="login" resultType="com.spring.dto.MemberVO">
	<![CDATA[
	 select ID,
	 		NAME,
	 		EMAIL,
	 		AUTH
	 from MemberData where ID= #{ID} and PW = #{PW}
      ]]>

	</select>



	<update id="inputCarnumber"
		parameterType="com.spring.dto.AmountVO">
	<![CDATA[
		update PayInformation SET CARNUMBER=#{CARNUMBER} where ENDTIME IS NULL AND AREA=#{AREA};
	
	]]>

	</update>

	<update id="endtimeInput"
		parameterType="com.spring.dto.AmountVO">
	
	<![CDATA[
		update PayInformation SET ENDTIME=#{ENDTIME} where AREA=#{AREA};
	
	]]>

	</update>






</mapper>

